# Copia este archivo como secrets/.env y completa los valores reales.
# Clave de OpenRouter
OPENAI_API_KEY = sk-or-v1-....
# Clave gmail
GOOGLE_CLIENT_ID = 100669...
GOOGLE_CLIENT_SECRET = GOCSPX-...
